@tailwind base;  /* 告诉tailwind css 引入基础样式 */
@tailwind components;  /* 告诉tailwind css 引入组件样式 */
@tailwind utilities;  /* 告诉tailwind css 引入工具类样式 */

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
